/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the navigation menu */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

/* Style the page title */
.container h1 {
  font-size: 48px;
  text-align: center;
  margin-top: 50px;
}

/* Style the movie container */
.movieContainer {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: flext-start;
  border: 2px solid #333;
  padding: 20px;
}

.movieContainer img {
  width: 300px;
  height: 450px;
  object-fit: cover;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}

.movieDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movieDetails h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.movieDetails p {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Style the button */
#buyTicketbtn {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

#buyTicketbtn:hover {
  background-color: #d32f2f;
}

/* Style the film list */
.film-list-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#films {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filmItem {
  font-size: 24px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #333;
  width: calc(33.33% - 20px);
  max-width: 300px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.filmItem img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}
